* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f4f6fb;
}

.navbar {
    background: #4f46e5;
    color: white;
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    background: white;
    color: #4f46e5;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.page-center {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.card {
    background: white;
    padding: 30px;
    width: 420px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.primary-btn {
    margin-top: 20px;
    background: #4f46e5;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}


.dashboard {
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}

.stats {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.stat-card {
    flex: 1;
    padding: 20px;
    border-radius: 16px;
    color: white;
    font-size: 18px;
}

.blue { background: #6366f1; }
.green { background: #22c55e; }
.red { background: #ef4444; }

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.controls input {
    flex: 1;
}

.controls button {
    background: #e5e7eb;
    border: none;
    padding: 10px 14px;
    border-radius: 12px;
    cursor: pointer;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    background: white;
    border-radius: 16px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.chart-card {
    height: 350px;
}

.chart-card canvas {
    max-height: 280px;
}

.section {
    margin-top: 25px;
}

.section h4 {
    margin-bottom: 12px;
    color: #374151;
}


.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: white;
    font-size: 14px;
}

.btn-group {
    display: flex;
    gap: 10px;
}

.secondary-btn {
    background: #6366f1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
}


.danger-btn {
    background: #ef4444;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
}


.secondary-btn:hover {
    background: #4f46e5;
}

.danger-btn:hover {
    background: #dc2626;
}


.message {
    margin-top: 15px;
    font-weight: 500;
}
